body{
  background: #DBE8EA;
}
#padre{
  width: 50%;
  height: 555px;
  text-align: center;
  margin-left: 350px;
  margin-top: 50px;
  border: #000 solid 1px;
}
#imagen{
  width: 30%;
  height: 555px;
  text-align: center;
  border: #000 solid 1px;
  float: left;
}